*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(32, 32, 32);
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(241, 241, 241);
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
div {
  color: rgb(32, 32, 32) !important;
}

header {
  margin-bottom: 3em;
}

header a {
  color: rgb(32, 32, 32);
}

.navbar {
  min-height: 75px;
  height: 100%;
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: 700;
  margin-left: 2.5em;
}

.navbar-brand span {
  color: rgb(0, 102, 0) !important;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  gap: 2em;
  margin-right: 2.5em;
}

.navbar-brand {
  margin-right: auto;
}

main {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;

  max-width: 1000px;
}

.hero-container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
  position: relative;
}

.btn {
  font-weight: 500;
  transition: transform 0.3s ease;
  min-height: 44px;
  min-width: 44px;
  width: 200px;
}

.btn:hover {
  transform: scale(1.1);
}

.hero-container img {
  margin-top: 2em;
  max-height: 450px;
  min-width: 1000px;
  object-fit: cover;
}

.hero-divider {
  width: 100%;
  display: block;
  border-bottom: 2px solid rgb(146, 225, 146);
  margin-top: 4em;
}

.destination-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 7em;
  grid-row-gap: 3em;
  margin-bottom: 5em;
}

.destination-list__container {
  max-width: 400px;
  display: flex;
  align-items: center;
  gap: 1em;
}

.destination-list__name {
  font-size: 1.5em;
}

.destination-list__name a {
  text-decoration-line: none;
}

.destination-list__name a:hover {
  text-decoration-line: underline;
}

.explore-container {
  text-align: center;
}

.heading {
  margin-bottom: 4em;
}

.explore-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
}

.explore-card img {
  height: 200px;
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.explore-card img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 40px rgb(106, 238, 106);
}

.hero {
  display: flex;
  align-items: center;
  min-height: 480px;
  width: 100%;
  text-align: center;

  background-position: center;
  border-radius: 10px;
}

/* .hero-canggu {
  background-image: url('../public/images/hero-canggu.png');
} */

/* .hero-ubud {
  background-image: url('../public/images/hero-ubud.jpg');
  background-position: bottom;
}

.hero-seminyak {
  background-image: url('../public/images/hero-seminyak.png');
}

.hero-nusadua {
  background-image: url('../public/images/hero-nusadua.jpg');
}

.hero-kintamani {
  background-image: url('../public/images/hero-kintamani.png');
  background-position: top;
}

.hero-kuta {
  background-image: url('../public/images/hero-kuta.png');
} */

.hero__inner {
  margin: 0 auto;
  max-width: 800px;
}

.hero__title {
  color: #ffffff !important;
  font-weight: 500;
  font-size: 36px;
}

.hero__tagline {
  color: #ffffff !important;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 400;
}

.hero__image {
  width: 100%;
}

.hero__image img {
  width: 100%;
  border-radius: 15px;
}

.article-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
  margin-top: 3em;
  margin-bottom: 3em;
}

.article-list a {
  text-decoration: none;
  transition: transform 0.2s;
}

.article-list a img {
  transition: box-shadow 0.2s;
}

.article-list a:hover {
  transform: translateY(-5%);
}

.article-list a:hover img {
  box-shadow: 0 0 30px rgb(106, 238, 106);
}

.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.article-container img {
  max-height: 200px;
  margin-bottom: 1em;
  border-radius: 10px;
}

/*Comunity Page */

.tourists-problem-section {
  margin-bottom: 4em;
}

.tourists-problem-section h2 {
  text-align: center;
  margin-bottom: 1.5em;
}

.main-information {
  display: flex;
}

.main-information p {
  text-indent: 3.5em;
  text-align: justify;
}

.image-container {
  width: 100%;
  margin-left: 2.5em;
}

.image-container img {
  width: 300px;
  height: 375px;
  object-fit: cover;
}

.sub-information ol li p {
  text-indent: 3.5em;
  text-align: justify;
}

.comment-section {
  background: rgb(219, 255, 209);
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 4em;
}

.comment-section h2 {
  text-align: center;
  margin-bottom: 1em;
}

.comment-section input {
  margin-bottom: 1.5em !important;
}

.comment-section textarea {
  margin-bottom: 1.5em !important;
}

.comment-form textarea {
  border-radius: 4px;
  border: 1px solid #ddd;
}

.comment {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  padding: 1em;
  line-height: 28px;
  border-radius: 8px;
  background-color: whitesmoke;
}

.comment .comment-content {
  padding: 10px;
  background: #f9f9f9;
  border-radius: 4px;
}

.comment-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4em;
  margin-top: 4em;
}

.comment-name {
  font-weight: bold;
  font-size: 18px;
}

.comment p {
  text-align: end;
  font-size: smaller;
  color: #777777 !important;
  margin-bottom: 0;
  margin-top: 1em;
}

/* Footer */

footer {
  background-color: rgb(146, 225, 146);
}

footer .row {
  display: flex;
  justify-content: space-around;
}
