<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../styles/main-bootstrap.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/responsive.css" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>EcoTourism</title>
  </head>

  <body>
    <header>
      <app-bar></app-bar>
    </header>

    <main>
      <div class="hero hero-kintamani">
        <div class="hero__inner">
          <h2 class="hero__title">KINTAMANI</h2>
          <br />
          <p class="hero__tagline">
            Menikmati suasana Gunung Batur dan Danau Batur dengan Kopi Kintamani di Coffee Shop terbaik.
        </div>
      </div>
    </main>

    <script src="../script/bootstrap.bundle.min.js"></script>
    <script type="module" src="../script/index.js"></script>
  </body>
</html>
