<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../styles/main-bootstrap.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/responsive.css" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>EcoTourism</title>
  </head>

  <body>
    <header>
      <app-bar></app-bar>
    </header>

    <main>
      <div class="hero hero-kintamani">
        <div class="hero__inner">
          <h2 class="hero__title">KINTAMANI</h2>
          <br />
          <p class="hero__tagline">
            Menikmati suasana Gunung Batur dan Danau Batur dengan Kopi Kintamani
            di Coffee Shop terbaik.
          </p>
        </div>
      </div>

      <hr class="hero-divider" />

      <div class="place-list">
        <a href="#">
          <div class="place-list__container">
            <img
              src="../public/images/place-kintamani1.png"
              alt="gambar pantai"
            />
            <h3 class="place-list__name">Wisata Kintamani</h3>
            <p class="place-list__text">
              Tempat wisata di kaki gunung kintamani
            </p>
          </div>
        </a>

        <a href="#">
          <div class="place-list__container">
            <img
              src="../public/images/place-kintamani2.png"
              alt="gambar pantai"
            />
            <h3 class="place-list__name">Cafe & Resto</h3>
            <p class="place-list__text">
              Kafe Viral Dengan Pemandangan Gunung Batur
            </p>
          </div>
        </a>

        <a href="#">
          <div class="place-list__container">
            <img
              src="../public/images/place-kintamani3.png"
              alt="gambar pantai"
            />
            <h3 class="place-list__name">Penginapan Kintamani</h3>
            <p class="place-list__text">
              Glamping kintamani yang sangat indah dengan cuaca yang dingin
              serta view gunung dan danau
            </p>
          </div>
        </a>

        <a href="#">
          <div class="place-list__container">
            <img
              src="../public/images/place-kintamani4.png"
              alt="gambar pantai"
            />
            <h3 class="place-list__name">Adat Desa Kintamani</h3>
            <p class="place-list__text">
              Kenali adat istiadat desa kintamani ini
            </p>
          </div>
        </a>
      </div>
    </main>

    <script src="../script/bootstrap.bundle.min.js"></script>
    <script type="module" src="../script/index.js"></script>
  </body>
</html>
