<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="dicoding:email"
      content="denta.nurol.2103116@students.um.ac.id"
    />
    <meta name="theme-color" content="#76d579" />

    <link rel="stylesheet" href="../styles/main-bootstrap.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/responsive.css" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <!-- scroll animations  -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <link rel="apple-touch-icon" href="/icons/icon-256x256.png" />
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="icon" href="./favicon-512x512.png" />

    <title>EcoTour</title>
  </head>
  <body>
    <header>
      <app-bar></app-bar>
    </header>

    <main id="mainContent"></main>

    <footer-bar></footer-bar>
    <!-- Footer -->

    <script src="../script/bootstrap.bundle.min.js"></script>
    <script type="module" src="../script/index.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
