<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#fffdd0" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="icon" href="./favicon.png">
    <link rel="manifest" href="./app.webmanifest">
    <meta name="theme-color" content="#cdb891"/>
    <link rel="apple-touch-icon" href="/src/public/icons/icon-192x192.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"crossorigin="anonymous" />

    <title>EcoTourism</title>
</head>

<body>
    <a class="skip2content" tabindex="0" aria-label="button skip to button"  href="#mainContent">Skip To Main Content</a>
    <header>
        <nav>
            <div class="nav-container" id="navcontainer">
                <div class="brand">
                    <a href="index.html">EcoTourism</a>
                    <button id="menu" class="header_menu" aria-label="button menu dropdown">
                        ☰
                    </button>
                </div>

                <div class="nav__menu" id="navmenu">
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="#/explore">Explore</a>
                        </li>
                        <li>
                            <a href="#/aboutus">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="hero-container">
        <h1>NUSA DUA</h1>
        <p>5 Star Hotel with the best beach view</p>

        <img src="../public/images/nusadua.jpg" alt="nusa dua" />
        <hr class="hero-divider" />
      </div>
   <hr />
    <footer class="text-center text-lg-start text-black">
        <div class="container p-4 pb-0">
          <section class="footer__content">
            <div class="row">
              <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">ECO.TOUR</h5>
  
                <p>
                  ECO.TOUR merupakan website tentang informasi lengkap tentang
                  wisata populer yang ada di Bali, tidak hanya itu, himbauan
                  kepada wisatawan akan menjaga kelestarian lingkungan juga harus
                  diperhatikan. Nama website diambil dari kata
                  <i>Ecotourism</i> yang berarti perjalanan dan kegiatan wisata
                  yang dirancang untuk meminimalkan dampak negatif pada lingkungan
                  alam
                </p>
              </div>
  
              <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
  
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#!" class="text-black">Link 1</a>
                  </li>
                  <li>
                    <a href="#!" class="text-black">Link 2</a>
                  </li>
                  <li>
                    <a href="#!" class="text-black">Link 3</a>
                  </li>
                  <li>
                    <a href="#!" class="text-black">Link 4</a>
                  </li>
                </ul>
              </div>
  
              <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
  
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#!" class="text-black">Link 1</a>
                  </li>
                  <li>
                    <a href="#!" class="text-black">Link 2</a>
                  </li>
                  <li>
                    <a href="#!" class="text-black">Link 3</a>
                  </li>
                  <li>
                    <a href="#!" class="text-black">Link 4</a>
                  </li>
                </ul>
              </div>
            </div>
          </section>
  
          <hr class="mb-4" />
  
          <section class="mb-4 text-center">
            <a
              class="btn btn-outline-light btn-floating m-1"
              href="#!"
              role="button"
              ><i class="fa fa-facebook-f"></i
            ></a>
  
            <a
              class="btn btn-outline-light btn-floating m-1"
              href="#!"
              role="button"
              ><i class="fa fa-twitter"></i
            ></a>
  
            <a
              class="btn btn-outline-light btn-floating m-1"
              href="#!"
              role="button"
              ><i class="fa fa-google"></i
            ></a>
  
            <a
              class="btn btn-outline-light btn-floating m-1"
              href="#!"
              role="button"
              ><i class="fa fa-instagram"></i
            ></a>
  
            <a
              class="btn btn-outline-light btn-floating m-1"
              href="#!"
              role="button"
              ><i class="fa fa-linkedin"></i
            ></a>
  
            <a
              class="btn btn-outline-light btn-floating m-1"
              href="#!"
              role="button"
              ><i class="fa fa-github"></i
            ></a>
          </section>
        </div>
  
        <div
          class="text-center p-3"
          style="background-color: rgba(5, 107, 3, 0.2)"
        >
          &copy; 2024 Copyright: ECO.TOUR
        </div>
      </footer>
      <!-- Footer -->
  
      <script src="../script/bootstrap.bundle.min.js"></script>
      <script type="module" src="../script/index.js"></script>
</body>

</html>